.quote {
	background-color: color(neutral, a);
	display: flex;
	width: 69rem;
	border-radius: 8px;
	gap: 3rem;
	padding: 2rem 4rem;

	@include respond(centeno) {
		width: 65vw;
	}
	@include respond(sorgo) {
		width: 90vw;
	}
	@include respond(arroz) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 4rem;
		gap: 2rem;
	}
	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__box-img {
		width: 21rem;
		height: 10rem;
		border-radius: 40rem;
		overflow: hidden;
		@include respond(arroz) {
			width: 10rem;
			height: 10rem;
		}
	}

	&__text {
		color: color(neutral, c);
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		@include font-size(delta);
	}

	&__author {
		text-transform: uppercase;
		font-style: italic;
		font-weight: 300;
		position: absolute;
		bottom: 1rem;
		right: 5rem;
	}
}
