.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 1rem;
	}

	&__paragraph {
		width: 50rem;
	}
	&__img {
		flex: 0 0 50%;
		position: relative;
	}

	&__imagen {
		width: 50rem;
		z-index: 10;
		transform: translate(18rem, -2rem);
	}
}

.section-about {
	display: flex;
	column-gap: 13%;
	position: relative;
	&__img {
		flex: 0 0 30vw;
		height: 35vw;
		background-image: url(./about-us.jpg);
		background-position: 50% 82%;
		background-repeat: no-repeat;
		background-size: 130%;
		border-radius: 8px;
	}

	&__quote {
		position: absolute;
		bottom: -7rem;
		left: 20rem;
	}

	&__text {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin-top: -6rem;
		&--p {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}
}
.section-information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8rem 0rem;

	&__contain {
		width: 50vw;
		box-shadow: $shadow;
		border-radius: 8px;
		overflow: hidden;
	}

	&__title {
		display: block;
		color: color(neutral, c);
		background-color: color(primary, a);
		font-size: 2rem;
		@include font-family(heading);
		padding: 2.5rem 2rem;
	}
}
.section-puppies {
}
.section-review {
	background-color: darkkhaki;
}
.section-contact {
	background-color: royalblue;
}

// bg hero's puppy
.bg {
	width: 90rem;
	height: 90rem;
	background-color: color(primary, a);
	border-radius: 100rem;
	position: absolute;
	right: 0;
	transform: translate(13rem, -9rem);
	z-index: -1;
	// display: none;
}
