.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	@include respond(centeno) {
		flex-direction: column;
		justify-content: center;
		padding-top: 10rem;
	}
	@include respond(arroz) {
		padding-top: 0rem;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 1rem;
		@include respond(centeno) {
			align-items: center;
			text-align: center;
		}
		@include respond(arroz) {
			width: 100%;
		}
	}

	&__paragraph {
		width: 60%;
		@include respond(espelta) {
			width: 90%;
		}
	}
	&__img {
		flex: 0 0 50%;
		position: relative;
		height: 100%;

		@include respond(centeno) {
			flex: 0 0 40%;
			width: 100%;
		}
		@include respond(arroz) {
			display: none;
		}
	}

	&__imagen {
		width: 50rem;
		z-index: 10;
		position: absolute;
		right: 0;
		top: 0;

		@include respond(quinoa) {
			width: 40rem;
		}
		@include respond(centeno) {
			width: 25rem;
			top: -6rem;
		}
		@include respond(trigo) {
			width: 19rem;
			top: 1.5rem;
		}
	}
}

.section-about {
	display: flex;
	column-gap: 13%;
	position: relative;
	padding: 5rem 0rem;

	@include respond(avena) {
		column-gap: 0%;
		justify-content: space-between;
	}
	@include respond(centeno) {
		flex-direction: column-reverse;
		text-align: center;
	}
	@include respond(sorgo) {
		row-gap: 2rem;
	}
	@include respond(arroz) {
		margin-bottom: 15rem;
	}
	&__img {
		flex: 0 0 30vw;
		height: 35vw;
		background-image: url(./about-us.jpg);
		background-position: 50% 82%;
		background-repeat: no-repeat;
		background-size: 130%;
		border-radius: 8px;
		@include respond(centeno) {
			flex: 0 0 40vw;
			width: 38vw;
			align-self: center;
		}
		@include respond(sorgo) {
			width: 60vw;
			flex: 0 0 60vw;
		}
		@include respond(arroz) {
			width: 70vw;
			flex: 0 0 70vw;
		}
	}

	&__quote {
		position: absolute;
		bottom: -7rem;
		left: 20rem;
		@include respond(centeno) {
			left: 15rem;
		}
		@include respond(sorgo) {
			left: 0;
		}
		@include respond(arroz) {
			bottom: -20rem;
		}
	}

	&__text {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin-top: -6rem;
		@include respond(avena) {
			flex: 0 0 60%;
		}

		&--p {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}
}
.section-information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10rem;

	&__contain {
		width: 50vw;
		box-shadow: $shadow;
		border-radius: 8px;
		overflow: hidden;
		@include respond(avena) {
			width: 80vw;
		}
		@include respond(sorgo) {
			width: 90vw;
		}
	}

	&__title {
		display: block;
		color: color(neutral, c);
		background-color: color(primary, a);
		font-size: 2rem;
		@include font-family(heading);
		padding: 2.5rem 2rem;
	}
}
.section-puppies {
	padding-top: 10rem;
}
.section-review {
	margin-top: 10rem;
}
.section-contact {
	padding: 8rem 0rem;
	&__main {
		display: flex;
		margin-top: 8rem;
		@include respond(centeno) {
			flex-direction: column;
			gap: 5rem;
		}
	}
	&__map {
		flex: 0 0 60rem;
		height: 55rem;
		border: none;
		border-radius: 5px;
		box-shadow: $shadow;
		@include respond(centeno) {
			gap: 5rem;
		}
	}
	&__info {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__p {
		display: flex;
		align-items: center;
		font-weight: 600;
		text-decoration: none;
		color: inherit;

		&:first-child {
			margin-bottom: 1rem;
		}

		&--wt {
			position: relative;
			&::after {
				transition: all 0.3s;
			}
			&::before {
				content: '';
				transition: all 0.3s;
			}

			&:hover {
				&::before {
					clip-path: polygon(49% 22%, 0% 100%, 100% 100%);
					background-color: color(neutral, a);
					height: 4rem;
					width: 3rem;
					position: absolute;
					bottom: -2.5rem;
				}
				&::after {
					content: 'Selecciona para que nos puedas contactar!';
					display: flex;
					justify-content: center;
					align-items: center;
					color: color(neutral, c);
					width: 100%;
					height: 8rem;
					background-color: color(neutral, a);
					position: absolute;
					bottom: -9rem;
					border-radius: 8px;
				}
			}
		}
	}

	&__ico {
		font-size: 4rem;
		color: color(primary, a);
		transition: all 0.3s;
	}
}
// change color icons with hover
.section-contact
	.section-contact__info
	.section-contact__p:hover
	.section-contact__ico {
	color: color(primary, b);
}

// bg hero's puppy
.bg {
	width: 90rem;
	height: 90rem;
	background-color: color(primary, a);
	border-radius: 100rem;
	position: absolute;
	right: 0;
	transform: translate(13rem, -9rem);
	z-index: -10;
	// display: none;
	@include respond(kasha) {
		transform: translate(15rem, -10rem);
	}
	@include respond(teff) {
		width: 80rem;
		height: 80rem;
		transform: translate(10rem, 0rem);
	}
	@include respond(quinoa) {
		width: 70rem;
		height: 70rem;
		transform: translate(15rem, 0rem);
	}
	@include respond(centeno) {
		width: 40rem;
		height: 40rem;
		transform: translate(5rem, 0rem);
		top: 47rem;
	}
	@include respond(trigo) {
		width: 30rem;
		height: 30rem;
		transform: translate(5rem, 0rem);
		top: 55rem;
	}
	@include respond(arroz) {
		display: none;
	}
}
