@charset "UTF-8";

$breakpoints: (
	'kasha': (
		max-width: 117.1875em,
	),
	//1875
	'teff':
		(
			max-width: 85.625em,
		),
	//1370
	'quinoa':
		(
			max-width: 81.25em,
		),
	//1300
	'centeno':
		(
			max-width: 68.125em,
		),
	//1090
) !default;

@mixin respond($bp) {
	$value: map-get($breakpoints, $bp);

	@if $value != null {
		@media only screen and #{inspect(map-get($breakpoints, $bp))} {
			@content;
		}
	} @else {
		@warn "Desafortunadamente, la clave no se encuentra en el mapa`#{$breakpoints}`. "
        + "Por favor asegurese de que la clave se encuentre en el mapa `$breakpoints`";
	}
}
