// -------- Colors ------------

$color: (
	primary: (
		a: #00a8cc,
		b: #25d7ff,
	),
	neutral: (
		a: #272727,
		b: #aaaaaa,
		c: #fcfcfc,
	),
);

// ------- Typography -----------
$font__family: (
	heading: (
		'Bebas Neue',
		cursive,
	),
	body: (
		'Open Sans',
		sans-serif,
	),
);

// ------- Font Size -----------
$font__size: (
	alfa: 7rem,
	alga-1: 5rem,
	beta: 2rem,
	gamma: 1.7rem,
	delta: 1.5rem,
);

// -------- heigh header --------
$header-heigh: 7rem;

// -------- shadow --------
$shadow: 0 0 2rem rgba(color(neutral, a), 0.2);
