.header {
	height: $header-heigh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 5vw;
	box-shadow: $shadow;
	z-index: 100000;
	background-color: color(neutral, c);
	position: fixed;
	width: 100vw;
}
